@{
    ViewBag.Title = "Contact";
}


<body><div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Calculate Bill</h4>
                        <p class="card-category">Add your any issue related to hostel here</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Start Date</label>
                                        <input style="margin-left:200px;" type="date" class="form-control" placeholder="Enter Date">
                                    </div>
                                </div>
                            </div>   <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">End Date</label>
                                        <input style="margin-left:200px;" type="date" class="form-control" placeholder="Enter Date">
                                    </div>
                                </div>
                            </div>  <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left: 200px" for="inputState">Total Food Expense</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="enter total food expense">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left: 200px" for="inputState">Total Mess Expense</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="enter mess food expense">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Sub Tota1</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="Total">
                                    </div>
                                </div>
                            </div>  <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left: 200px" for="inputState">Total Count Lunch</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="lunch count ">
                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Total Count Dinner</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="dinner count  ">
                                    </div>
                                </div>

                            </div>  <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Total</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="total">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Unit Price</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="unit price">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Adjustment</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="adjustment">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label style="margin-left:200px;">Final Bill</label>
                                        <input style="margin-left:200px;" type="number" class="form-control" placeholder="Final Bill">
                                    </div>






                                    <button type="submit" class="btn btn-info btn-fill pull-right">Submit</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
</body>