
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/register.cshtml";
}
<body>



    <div class="header-wrapper">


        <div class="header" style="background-image: url('../assets/img/th.jpg');



">
            <div class="filter"></div>
            <div class="title-container text-center">
                <h1>
                    REGISTER
                </h1>


                <form>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label style="margin-left:350px;">USERNAME</label>
                                <input style="margin-left:400px;" type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label style="margin-left:350px;">PASSWORD</label>
                                <input style="margin-left:400px;" type="text" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label style="margin-left:391px;">CONFIRM  PASSWORD</label>
                                <input style="margin-left:400px;" type="text" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                    <a href="Admin Login.html" class="button">REGISTER</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>





    
</body>