
@{
    ViewBag.Title = "AddComplains";
    Layout = "~/Views/Shared/Studentregister.cshtml";
}

<body>
             <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add Complain</h4>
                                    <p class="card-category">Add your any issue related to hostel here</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label style="margin-left:200px;">Subject</label>
                                                    <input style="margin-left:200px;" type="text" class="form-control" placeholder="Enter Subject">
                                                </div>
                                            </div>
                                        </div>   <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label style="margin-left:200px;">Room No.</label>
                                                    <input style="margin-left:200px;" type="text" class="form-control" placeholder="Enter Room No.">
                                                </div>
                                            </div>
                                        </div>  <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label style="margin-left: 200px" for="inputState">Issue Type</label>
                                                    <select style="margin-left: 200px" id="inputState" class="form-control">
                                                        <option selected>Select</option>
                                                        <option>Electrical</option>

                                                        <option>Mechanical</option>
                                                        <option>Severage</option>
                                                        <option>any other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>  <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label style="margin-left: 200px" for="inputState">Priority</label>
                                                    <select style="margin-left: 200px" id="inputState" class="form-control">
                                                        <option selected>Select </option>

                                                        <option>High</option>
                                                        <option>Medium</option>
                                                        <option>Low</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label style="margin-left:200px;">Due Date</label>
                                                    <input style="margin-left:200px;" type="date" class="form-control" placeholder="Select date">
                                                </div>
                                            </div>
                                        </div>  <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label style="margin-left: 200px" for="inputState">Assign Complain To</label>
                                                    <select style="margin-left: 200px" id="inputState" class="form-control">
                                                        <option selected>Select </option>

                                                        <option>Mess Staff</option>
                                                        <option>RT</option>
                                                        <option>Admin</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>  <div class="row">
                                </div>  <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label style="margin-left:200px;">Complain Details</label>
                                            <textarea style="margin-left: 200px" rows="3" cols="45">
                                                    </textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            Select files: <input style="margin-right:700px;" type="file" style="margin-left: 900px" name="myFile" multiple><br><br>
                            <input type="submit">

                            <p>Send Your Complain</p>

                            <center><button type="submit" class="btn btn-info btn-fill" onclick="myFunction()">Send</button></center>

                            <p id="demo"></p>

                            <script>
function myFunction() {
    var txt;
    var r = confirm("Your complain has been successfully sent");
    if (r == true) {
        txt = "You pressed OK!";
    } else {
        txt = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = txt;
}
                            </script>

                            <footer class="footer">
                                <div class="container">
                                    <nav>
                                        <ul class="footer-menu">
                                            <li>
                                                <a href="#">
                                                    Home
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Company
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Portfolio
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Blog
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="copyright text-center">
                                            ©
                                            <script>
                                document.write(new Date().getFullYear())
                                            </script>
                                            <a href="http://www.hostelmanagementsystem.com">Hostel Management System</a>
                                        </p>
                                    </nav>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!--   -->
                    <!-- <div class="fixed-plugin">
                        <div class="dropdown show-dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-cog fa-2x"> </i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="header-title"> Sidebar Style</li>
                                <li class="adjustments-line">
                                    <a href="javascript:void(0)" class="switch-trigger">
                                        <p>Background Image</p>
                                        <label class="switch">
                                            <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                                        </label>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li class="adjustments-line">
                                    <a href="javascript:void(0)" class="switch-trigger background-color">
                                        <p>Filters</p>
                                        <div class="pull-right">
                                            <span class="badge filter badge-black" data-color="black"></span>
                                            <span class="badge filter badge-azure" data-color="azure"></span>
                                            <span class="badge filter badge-green" data-color="green"></span>
                                            <span class="badge filter badge-orange" data-color="orange"></span>
                                            <span class="badge filter badge-red" data-color="red"></span>
                                            <span class="badge filter badge-purple active" data-color="purple"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li class="header-title">Sidebar Images</li>

                                <li class="active">
                                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                                        <img src="../assets/img/sidebar-1.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                                        <img src="../assets/img/sidebar-3.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                                        <img src="..//assets/img/sidebar-4.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                                        <img src="../assets/img/sidebar-5.jpg" alt="" />
                                    </a>
                                </li>

                                <li class="button-container">
                                    <div class="">
                                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                                    </div>
                                </li>

                                <li class="header-title pro-title text-center">Want more components?</li>

                                <li class="button-container">
                                    <div class="">
                                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                                    </div>
                                </li>

                                <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

                                <li class="button-container">
                                    <button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                                    <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                     -->
</body>

