
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/RT.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">

                        <p class="card-category"><b>MENU MANAGEMENT<b></p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>


                                <form style="margin-left:100px;" action="/action_page.php">
                                    Start Date:
                                    <input type="date" name="bday" min="2000-01-02">
                                    End Date:
                                    <input type="date" name="bday" min="2000-01-02">
                                    <input type="submit">
                                </form>




                            </thead>
                            <br>
                            <tbody>
                                <br>
                                <br>


                                <tr>


                                    <td>LUNCH</td>
                                    <td> DINNER</td>
                                    <td>PRICE</td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>

                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>

                                </tr>
                                <tr>

                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>

                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>

                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>

                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


