
@{
    ViewBag.Title = "Complains";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<body>  <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                                
                                    <p class="card-category"><b>Complains<b></p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
										</thead>
										
										
										<tbody>
										 <tr>
											
											
                                               <td>Subject</td>
                                                <td>Room no. </td>
                                                <td>Issue Type</td>
                                                <td>Priority</td>
												<td>Due Date</td>
												<td>Assign Complain To</td>
												<td>Complain details</td>
												<td>Comments</td>
												<td></td>
											
												
                                                
                                            </tr>
                                            <tr>
                                              
                                                <td></td>
                                                <td> </td>
                                                <td></td>
                                                <td> </td>
												 <td> </td>
												 <td> </td>
												 <td><textarea rows="2" cols="20"></textarea> </td>
												  <td> </td>
												  <td><button>send</button></td>
                                            </tr>
                                            <tr>
                                              
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
												 <td> </td>
												 <td> </td>
												  <td><textarea rows="2" cols="20"></textarea> </td>
												  <td> </td>
												  <td><button>send</button></td>
                                            </tr>
                                            <tr>
                                                
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
												 <td> </td>
												 <td> </td>
												  <td><textarea rows="2" cols="20"></textarea> </td>
												  <td> </td>
												 <td><button>send</button></td>
                                            </tr>
                                            <tr>
                                               
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
												 <td> </td>
												 <td> </td>
												  <td><textarea rows="2" cols="20"></textarea> </td>
												  <td> </td>
												  <td><button>send</button></td>
                                            </tr>
                                            <tr>
                                                
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
												<td> </td>
												<td> </td>
												<td> </td>
												 <td><textarea rows="2" cols="20"></textarea> </td>
												 <td> </td>
												 <td><button>send</button></td>
                                                
												
                                            </tr>
											</tbody>
                                    </table>
										
										
									
                                            
									
													
                                            
                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			</body>

