
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_start.cshtml";
}

<body>
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="purple">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/th.jpg')">
                <div class="filter"></div>
                <div class="title-container text-center">
                    <h1>HOSTEL MANAGEMENT SYSTEM</h1>

                    <br />
                    <a href="http://demos.creative-tim.com/light-bootstrap-dashboard/documentation/tutorial-components.html" class="btn btn-round btn-neutral btn-fill" target="_blank">Login</a>
                    <br />
                    </br><div class="dropdown">
                        <button class="dropbtn">Register</button>
                        <div class="dropdown-content">
                            <a href="#">Student</a>
                            <a href="#">MessStaff</a>
                            <a href="/Admin/BillCalculation">Admin</a>
                            <a href="#">RT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
