<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V16</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/lcs/images/icons/favicon.ico" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lcs/css/util.css">
    <link rel="stylesheet" type="text/css" href="/lcs/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div>@RenderBody()</div>



    <!--===============================================================================================-->
    <script src="/lcs/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/lcs/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/lcs/vendor/bootstrap/js/popper.js"></script>
    <script src="/lcs/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/lcs/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/lcs/vendor/daterangepicker/moment.min.js"></script>
    <script src="/lcs/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/lcs/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/lcs/js/main.js"></script>

</body>
</html>